<%= form_for([@post.user, @post]) do |f| %>
  <% puts "@user.inspect, #{@user.inspect}" %>
  <% puts "@post.inspect, #{@post.inspect}" %>

  <p><%= f.text_field :title %><%= f.label(:title, "title") %></p>
  <p><%= f.text_area :content, size: "80x10" %><%= f.label(:content, "content") %></p>
  <%= f.submit "Save" %>
<% end %>
