<!DOCTYPE html>
<html>
  <head>
    <title>Final Rails Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- ======= ======= ======= body ======= ======= ======= -->
  <body>

      <!-- == header == -->
      <div id="header" class="section">
          <p>header</p>
          <%= render :partial => "/users/menu"%>
      </div>

      <!-- == yield == -->
      <div id="yield" class="section">
          <%= yield %>
      </div>

      <!-- == footer == -->
      <div id="footer" class="section">
          <p>footer</p>
      </div>

  </body>
</html>
